<style>
#auction {
    padding: 30px 40px;
    background-image: url(__PUBLIC__/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#auction h2 {
    font-size: 16px;
    text-indent: 1em;
    margin-bottom: 20px;
    line-height: 150%;
}

#auction a {
    text-decoration: none;
}

#auction .item {
    width: 70%;
    margin: 10px 15% 30px 15%;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(40, 40, 40, 0.3);
}

#auction .item img {
    width: 100%;
    border-radius: 5px;
}

#auction .item p {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.8);
    color: #D65021;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
</style>
<div id="auction">
    <h2>本次活动得到了众多企业的支持，捐赠的拍品如下：</h2>
    <div id="items">
        <foreach name="items" item="v">
            <div class="item">
                <a href="{:U('Index/detail',array('id'=>$v['id']))}">
                    <img src="__PUBLIC__{$v.thumbnail}">
                    <p>{$v.title}</p>
                </a>
            </div>
        </foreach>
    </div>
</div>