<style>
#index #about {
    background-image: url(__PUBLIC__/img/about.jpg);
    background-size: cover;
    padding: 30px 40px;
}

#index h1 {
    font-size: 22px;
    margin-top: 0;
}

#index #about>div {
	background-color: rgba(20,20,20,0.6);
	width: 80%;
	margin-right: 20%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(10,10,10,0.4);
	margin-bottom: 40px;
}
#index #about h1 {
    color: #fff;
}

#index #about p {
    text-indent: 2em;
    color: #f2f2f2;
}

#index #sdo {
    padding: 30px 40px;
    text-align: right;
    background-color: #f2f2f2
}

#index #sdo p {
    width: 80%;
    margin-left: 20%;
    color: #333;
    text-indent: 2em;
}

#index #chba {
    padding: 30px 40px;
    background-color: #333;
}

#index #chba h1 {
    color: #eee;
}

#index #chba p {
    width: 80%;
    margin-right: 20%;
    color: #ddd;
    text-indent: 2em;
}

#index #auction {
    background-image: url(__PUBLIC__/img/auction.jpg);
    background-size: cover;
    padding: 60px 40px;
    text-align: center;
}

#index #auction h1 {
    color: #111;
    font-size: 25px;
}
#index #auction p {
	margin-top: 40px;
}
#index #auction a {
	text-decoration: none;
}
#index #auction span {
	color: #333;
	border: 1px solid #666;
	padding: 12px 15px;
	border-radius: 3px;
}
</style>
<div id="index">
    <div id="about">
        <div>
            <h1>成功设计慈善拍卖会</h1>
            <p>作为一个彰显设计的价值的平台，我们在传播设计思维的同时，也致力于推动设计回归到推动社会创新的本质。此次，成功设计平台与春晖博爱儿童救助基金会合作，旨在传播创新的公益模式，帮助更多的孩子改变人生。</p>
        </div>
    </div>
    <div id="sdo">
        <h1>成功设计平台</h1>
        <p>这里是介绍吧啦吧啦</p>
    </div>
    <div id="chba">
        <h1>春晖博爱儿童救助基金会</h1>
        <p>这里是介绍吧啦吧啦</p>
    </div>
    <div id="auction">
        <h1>现在就加入我们</h1>
        <p><a href="{:U('Index/auction')}"><span>开始竞拍</span></a></p>
    </div>
</div>