<style>
#index #about img {
    width: 100%;
}

#index #about p {
    font-size: 13px;
}

#index h1 {
    font-size: 22px;
    margin-top: 0;
}

#index #sdo {
    padding: 30px;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
    color: #f05036;
    padding-top: 0;
}

#index #sdo p {
    color: #666;
    text-align: left;
    font-size: 10px;
}

#index #sdo img {
    position: absolute;
    left: 30px;
    top: 0px;
    width: 80px;
}

#index #sdo h1 {
    color: #f05036;
    font-size: 16px;
}

#index #chba {
    padding: 30px;
    text-align: left;
    background-color: #f2f2f2;
    position: relative;
    padding-top: 0;
}

#index #chba img {
    position: absolute;
    left: 5px;
    top: 0px;
    width: 120px;
}

#index #chba h1 {
    color: #f05036;
    font-size: 16px;
}

#index #chba p {
    color: #666;
    text-align: left;
    font-size: 10px;
}

#index #auction {
    background-color: #fff;
    text-align: center;
}

#index #auction h1 {
    color: white;
    font-size: 25px;
}

#index #auction p {
    color: white;
    margin-top: -10px;
    margin-bottom: 50px;
}

#index #auction a {
    text-decoration: none;
}

#index #auction span {
    color: #f05036;
    border: 1px solid #f05036;
    padding: 12px 15px;
    border-radius: 5px;
}
</style>
<div id="index">
    <div id="about">
        <img src="__PUBLIC__/img/page1.jpg">
        <div style="padding:20px 30px;">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;“因为有你，我不孤单”，这个世界上不应有任何一个孩子无依无靠。每个孩子都应拥有家庭的温暖、关爱的人伴其左右。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;为传播创新的公益理念，帮助更多缺失关爱的孩子重获家庭的温暖和关爱，成功设计平台携手春晖博爱儿童救助公益基金会一起举办本次慈善拍卖。您的支持是给孩子的馈赠，亦是对中国儿童之未来的投资。</p>
        </div>
    </div>
    <h1 style="background-color:#f2f2f2;color:#333;margin-bottom:0;padding:30px;padding-bottom:20px;">关于主办方</h1>
    <div id="sdo">
        <img src="__PUBLIC__/img/sdo.png">
        <div style="margin-left:100px;">
            <h1>成功设计平台</h1>
            <p>十年磨一剑，2014年成功设计平台历经十年的积累、沉淀，整合政府、学院、专业领域的资源优势，完成了从大赛到多维平台的涅槃。如今，它是一个彰显设计价值的媒体平台+大设计社群集结地+中国第一个以设计驱动的孵化器。它在传播设计思维的同时，也致力于推动设计回归到推动社会创新的本质。</p>
        </div>
    </div>
    <div id="chba">
        <img src="__PUBLIC__/img/chba.png">
        <div style="margin-left:100px;">
            <h1>春晖博爱儿童救助公益基金会</h1>
            <p>春晖博爱为中国最弱势儿童提供家庭般的关爱和照料。 它在全国各地运作并资助行之有效的养育和教育模式，挖掘、开发弱势儿童的最大潜质和潜能。 其儿童教育抚育项目旨在那些失亲的孩子们重新拥有亲人般的拥抱、倾听、陪伴和爱。近20年来，春晖博爱所传承的教育抚育方法已经使全国27个省市自治区58个合作项目点中的120,000余名不同年龄段的儿童受益。</p>
        </div>
    </div>
    <h1 style="background-color:#0a0a0a;color:#fff;margin-bottom:0;padding:30px;padding-bottom:20px;">合作伙伴</h1>
    <div style="padding:30px;padding-top:0;background-color:#0a0a0a;">
        <p style="color:#eee">感谢如下合作伙伴对本次拍卖的大力支持：</p> 
        <ul style="color:#ddd;padding-left:30px;font-size:10px;">
            <li>杭州凸凹工业设计有限公司</li>
            <li>郝文鑫先生</li>
            <li>观古楼</li>
            <li>果联科技</li>
            <li>上海梵诚漆器创意设计有限公司</li>
            <li>TAYOHYA多样屋</li>
            <li>武汉福利院</li>
            <li>薛一心女士</li>
        </ul>    
    </div>
    <h1 style="background-color:#fff;color:#333;margin-bottom:0;padding:30px;padding-bottom:20px;">竞拍说明</h1>
    <div style="padding:30px;padding-top:0;">
        <ol style="padding-left:30px;font-size:10px;">
            <li>拍卖形式：本次拍卖采用线上拍卖形式，公开、公正、透明。竞拍者进入拍品页面，填写个人信息，即可进行竞价。</li>
            <li>拍卖时间：9月8日正式启动，9月11日 16:00结束。</li>
            <li>起拍价格：我们所规定的竞价最低值，参加竞拍者须在此价格基础上进行加价。</li>
            <li>最低加价：竞拍者每次加价的幅度不能低于规定的额度。竞拍者一旦出价不可撤回，同一竞拍者可重复出价。</li>
            <li>竞拍成功：拍卖结束时出价最高者将获得该件拍品。所有拍品都将获得由春晖博爱儿童救助公益基金会出具的发票。发票在一月内开具并邮寄给竞拍成功者。</li>
            <li>付款方式：支付宝支付、微信支付、线下转账</li>
            <li>拍卖结束后，请您保持手机畅通，工作人员将会及时与您联系，交付拍品事宜。</li>
            <li>如有任何问题请随时联系：王小姐 18616611245</li>
        </ol>
    </div>
    <div id="auction">
        <p><a href="{:U('Index/auction')}"><span>开始竞拍</span></a></p>
    </div>
</div>